body {
    background-image: url('../images/Ahh haa.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: gray;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #f4f4f6;
    background-image: url(../images/Watch.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex-flow: row;
    justify-content: center;
}
nav a {
    margin: 10%;
    text-decoration: none;
    color: darkcyan;
}
h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
}


h2 {
    font-size: 30px;
    padding: 1em 1em;
}



.a href {
    text-decoration: wavy;
    font: 20;
    color: rgb(226, 101, 28);
}

.a href a:hover {
    text-shadow: 16px;
    color: white;
}

.blog_entry {
    border-bottom: 1px solid #cccccc;
    text-align: left;
    padding: 20px;
}