@model marksSite.Model.Category


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css">
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <header>
        <h1>@Model.Name </h1>
        <section id="offWhite"></section>
    </header>
    <main>
        <h1>Blogs</h1>
        @foreach (var blog in Model.Blogs)
        {
            <a href="~/Blog/Details/@blog.Id">@blog.Name</a>
            <hr />
        }
        <a href="~/Category/Index/">Return To Categories</a>
    </main>
</body>
</html>
